<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('../partials/head'); %>
    <title>Nossos Funcion치rios</title>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <section class="conteudo">
            <div>
                <span class="col-12 text-start">Pesquise pelo nome do Funcion치rio</span>
                <input class="my-2" type="text" id="myInput" onkeyup="pesquisarFunc()"
                        placeholder="Nome do Funcion치rio">
            </div>
            <table border=1 id="tabela" class="table table-hover">
                <thead>
                    <th>Nome do Funcion치rio</th>
                    <th>Cargo</th>
                    <th>Email</th>
                    
                </thead>


                <tbody id="tbody">
                    <% resultado.forEach(item=>{ %>
                        <tr>
                            <td><%=item.nome %></td>
                            <td><%=item.cargo %></td>
                            <td><%=item.email %></td>
                            
                            
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </section>
    </main>
    
    <%- include('../partials/footer'); %>
    
    
    <script src="/js/script.js"></script>
</body>

</html>